<header class="flex w-full justify-center">
  <section>
      <%= image_tag @user.avatar || "", class:"w-32 mr-12 bg-gray-500 h-32 rounded-full" %>
  </section>
  <section class="flex flex-col gap-4 flex-grow max-w-sm">
    <div class="flex gap-4">
      <h2 class="text-2xl"><%= @user.name%></h2>
      <button>Follow</button>
    </div>
    <ul class="flex gap-4">
      <li>
        <span class="font-bold"><%= @posts.length %></span> posts
      </li>
      <li>
        <span class="font-bold"><%= 1 %></span> followers
      </li>
      <li>
        <span class="font-bold"><%= 1 %></span> followings
      </li>
    </ul>
    <p><%= @user.bio %></p>
  </section>
</header>
